[submodule "Packages/assimp"]
	path = Packages/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "Packages/NRI"]
	path = Packages/NRI
	url = https://github.com/NVIDIA-RTX/NRI.git
	branch = main
[submodule "Packages/glm"]
	path = Packages/glm
	url = https://github.com/icaven/glm.git
	branch = master
